$def with ()
<h1>Robot remote control</h1>
<hr />

<table>
<tr><td>

<div id="body">
    <div id="left">
        <img class="up" src="/static/up.png" width="30" />
        <img class="down" src="/static/down.png" width="30" />
    </div>
    <div id="spin"></div>
    <div id="right">
        <img class="up" src="/static/up.png" width="30" />
        <img class="down" src="/static/down.png" width="30" />
    </div>    
</div>

<br />
<textarea id="log" rows="10" cols="65">
Robot interaction log messages ...
</textarea>

</td><td valign="top">
<h3>Live - stream</h3>

</td></tr>
</table>

<script type="application/javascript">init();</script>

